.form__fieldset {
    display: grid;
    grid-gap: 20px;
    border: none;
}

@media (max-width: 491px) {
    .form__fieldset {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.form__field {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    max-width: 210px;
    border-radius: 5px;
}

@media (max-width: 491px) {
    .form__field {
        max-width: none;
    }
}


.form__field:invalid {
    background-color: rgba(255, 205, 205, 0.215);
}

.form__labelText {
    width: 100%;
    max-width: 175px;
    display: inline-block;
    margin-bottom: 10px;

}

.form__paragraph {
    margin: 0;
}

@media (max-width: 491px) {
    .form__paragraph {
        margin: 0;
        text-align: center;
    }
}

.form__button {
    border: none;
    background-color: #008080;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 40px;
}

@media (max-width: 491px) {
    .form__button {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}